---
title: Project Description
---

      <article>
        <h1><%= title %></h1>
        <img src="../images/<%= image %>" alt="photo of a <%= image %>">
        <% 9.times do %>
        <p><%= lorem.sentences 5 %></p>
        <% end %>
      </article>