---
title: About Me
---

    <section>
      <h1>Why I am a Bernie Sanders Delegate</h1>
      <p>I am a Washington State Delegate for Bernie Sanders, representing the 34th Legislative District. I am running for National Delegate. This is why.</p>
      <iframe width="420" height="315" src="https://www.youtube.com/embed/q_BV2KJhArM" frameborder="0" allowfullscreen></iframe>
    </section>


    <section>
      <h1>Welcome!</h1>
      <p>A long time ago I fired up my text-only web browser for the first time. I followed all the links. There was a menu item labeled "view source." "What is that?" I selected it and the bones of the page I was viewing were revealed to me. "OK, I can do <em>this</em>."</p>
      <p>You can still find my first website if you use the wayback machine: <%= link_to "don't look", 'https://web.archive.org/web/19961018085715/http://www.arthritis.org/' %>. We thought it was pretty cool.</p>
      <p>Over the years, I have written about CSS, Flash, SVG and more. I used to keep recipes on my site. It's all still around here on a hard drive.</p>
      <p>These days, I am a certified (University of Washington) Ruby on Rails developer.</p>
      <figure>
        <%= image_tag 'hercules.jpg', alt: 'Herculese' %>
        <figcaption>This is my dog.</figcaption>
      </figure>
    </section>


<% content_for :sidebar do %>
<aside class="well">
        <figure>
          <%= image_tag 'echostage.jpg', alt: 'Waiting for the Replacements' %>
          <figcaption>At a 2015 Replacements show in DC.</figcaption>
        </figure>

      </aside>
<% end %>
      