---
title: New Page for Week 9
---

          <article>
            <h2>Zurb Foundation</h2>

            <p>I added Zurb Foundation to this site. Using it was my choice. I use Bootstrap, albeit an old version, every day. Why not try something new?</p>

            <p>Would I reach for it again? Probably not. I don't find the technique of using a list item with a class of "divider" a very elegant way to get divider lines on the top bar.</p>

            <p>These modals are pretty cool, though:</p>

            <p><a href="#" data-reveal-id="firstModal" class="radius button">Click Me</a>

            <div id="firstModal" class="reveal-modal" data-reveal>
              <h2>This is a modal.</h2>

              <p>Welcome to my modal. Here I can clarify instructions, collect input, and warn users.</p>

              <p>I can even open a second modal!</p>

              <p><a href="#" data-reveal-id="secondModal" class="secondary button">Second Modal&hellip;</a></p>
              <a class="close-reveal-modal">&#215;</a>
            </div>

            <div id="secondModal" class="reveal-modal" data-reveal>
              <h2>This is a second modal.</h2>

              <p>The new modal just slides into place. Very slick.</p>
              <a class="close-reveal-modal">&#215;</a>
            </div>

          </article>
